@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    overflow-x: hidden;
}

header,
nav {
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */
}

nav .logo a img {
    display: none;
}
@media screen and (width < 420px) {
   

    section {
        width: 100%;
        height: auto;
    }

    header,
    nav {
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #030817;
    }

    nav .logo a {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    nav .logo a img {
        display: block;
        padding-left: 10px;
        width: 50px;
    }

    nav .logo a span {
        padding-left: 10px;
    }

    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }

    .header-text a {
        /* text-decoration: none; */
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    .menu-btn-cont button {
        width: 50px;
        height: 40px;
        border: 1px solid silver;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
    }

    .menu-btn-cont button i {
        font-size: 20px;
        color: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }

    .course-title {
        width: 95%;
        height: 240px;
        margin-top: 25px;
        /* border: 1px solid blue; */
    } 

    .course-title h1 {
        font-size: 30px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #030817;
    }

    .course-title p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    .course-title a {
        text-decoration: none;
        padding: 10px;
        background-color: #030817;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .course-form {
        width: 95%;
        height: auto;
        margin-top: 35px;
        /* border: 1px solid red; */
    }

    form {
        width: 100%;
        height: auto;
        /* border: 1px solid blue; */
    }

    form div {
        position: relative;
        width: 100%;
        height: 90px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
    }

    form div label {
        position: absolute;
        left: 30px;
        top: -12px;
        margin-bottom: 7px;
        text-align: start;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }

    form div input {
        width: 90%;
        padding: 15px;
        border: 1px solid #030817;
        border-radius: 7px;
        outline: none;
        font-size: 17px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: #212121;
    }

    form div p {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    form div button {
        width: 90%;
        height: 50px;
        margin-top: -50px;
        background-color: #030817;
        border: none;
        border-radius: 7px;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        color: white;
        cursor: pointer;
    }

    .reason-cont, .solution-cont {
        width: 95%;
        height: auto;
        margin-top: 25px;
        /* border: 1px solid blue; */
    }

    .reason-cont h1 {
        font-size: 22px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #030817;
    }

    .reason-cont p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        color: #030817;
    }

    .solution-cont h1 {
        font-size: 22px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #030817;
    }

    .solution-cont p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        color: #030817;
    }
}

@media screen and (420px < width < 720px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header,
    nav {
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #030817;
    }

    nav .logo a {
        text-decoration: none;
    }
}